
.navbar-logo img {
    margin-top: -70px;
}

.navbar-nav {
    margin-top: 20px;
}

.navbar-default .navbar-logo,
.navbar-default .navbar-nav > li > a {
    color: #0a2862;
    font-size: 15px;
    font-family: sans-serif;
}

.navbar-default .navbar-logo,
.navbar-default .navbar-nav > li > a:hover {
    color: #0049ff;

}

.navbar {
    height: 90px;
    background-color: #ffffff;
}

.send{
    padding: 10px;
    color: #0049ff;
    background-color: white;
    border-color: #0081ff;
    margin-right: 40px;
    margin-top: 6px;
    border-radius: 10px;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.send:hover {
    background-color:#0049ff;
    color: white;
}

/* Fine header */


.landing-col {
    background: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    margin: 0px;
    padding:0px;
    height: 600px;
    background-size: cover;
}

h1 {
    margin-top: 250px;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}

.landing-col p {
    color: white;
    font-family: sans-serif;
    font-size: 23px;
    text-align: left;
    margin-left: 115px;
}

form{
    background-color: white;
    margin-top: 190px;
    padding-top: 50px;
    margin-left: 100px;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.form-group {
    background-color: white;
}

.btn-default {
    padding: 10px;
    color: white;
    background-color: #0049ff;
    font-size: 20px;
    border-color: #0081ff;
    border-radius: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

form h3 {
    color: #031b4e;
    font-size: 30px;
}

.bg-light-grey {
    width: 100%;
    background-color: #f3f5f9;
    height: 900px;
}

.bg-light-grey h4 {
    color: #939eb5;
    padding-top: 50px;
}
